// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

@font-face {
  font-family: "IBM";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}

@font-face {
  font-family: "Noto";
  src: url("./fonts/Noto_Sans/NotoSans-Light.ttf");
}

@font-face {
  font-family: "IBM-medium";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: "IBM-bold";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
}

// 2. Include any default variable overrides here
$primary: #009640;
$secondary: #9D9D9D;
$success: #FFFF3B;
$dark: #131512;
$light: #F3F3F3;

$bs-body-font-family: "Noto";
$bs-body-font-size: 1rem;
$bs-body-font-weight: 400;
$bs-body-line-height: 1.35;
$bs-body-color: $dark;

$placeholder-opacity-max:           0.7;
$placeholder-opacity-min:           0.2;

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
  background-image: url('./img/body-bgi.png');
  background-repeat: no-repeat;
  background-position: center 160vh;
  background-size: 100%;
  width: 100%;
}

a, .btn {
    text-decoration: none !important;
}

h3, h4 {
  font-family: "IBM-medium";
  letter-spacing: -2.5%;
}

h3 {
  font-size: 32px;
  letter-spacing: -2.5%;
}

.fs-4 {
  font-size: 24px !important;
}

small {
  font-size: 75%;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
   outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

.placeholder-intro {
  filter: blur(16px);
  cursor: default;
}

.ibm {
  font-family: "IBM";
}

.ibm-medium {
  font-family: "IBM-medium";
}

.ibm-bold {
  font-family: "IBM-bold";
}

.navbar-nav a:hover {
  transform: scale(1.03);
  transition: .2s;
}


#intro-placeholder {
  background-image: url("./img/intro-load.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#main-matches {
    padding-top: 50px;
    padding-bottom: 60px;
}

.arrow-right {
    margin: 0;
    padding: 0;
    min-width: 50px;
    height: 50px;
    background-image: url('./img/Arrow\ 1\ \(Stroke\).png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.arrow-right-primary {
    margin: 0;
    padding: 0;
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-image: url('./img/arrow-right-primary.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .arrow-right-secondary {
    margin: 0;
    padding: 0;
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-image: url('./img/arrow-right-secondary.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }

.card {
    border: 0;
    box-shadow: 1px 1px 22px rgba(226, 220, 220, 0.84), 0px 0px 8px rgba(111, 99, 99, 0.37);
    //max-width: 348px;
    border-radius: 0;
  }

.card-header {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.17);
}

.match-card-body {
  background-image: url('./img/match-card-bgi.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100%;
}

.card-image-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card-logo-placeholder {
  background-image: url("./img/intro-load.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

#match-carousel-container {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
}
#match-carousel-container::-webkit-scrollbar { width: 0; height: 0; }

.match-carousel-item:first-child {
  margin-left: 8%;
}
.match-carousel-item:last-child {
  margin-right: 8%;
}

.birthday-item-row-primary {
  background-image: url('./img/birthday-item-bgi-primary.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.birthday-item-row-secondary {
  background-image: url('./img/birthday-item-bgi-secondary.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.birthday-plate-primary {
  background-image: url('./img/birthday-plate-bgi-secondary.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.birthday-plate-secondary {
  background-image: url('./img/birthday-plate-bgi-secondary.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

#main-photos {
  padding-bottom: 74px;
}

#main-birthdays {
  padding-bottom: 200px;
  background-image: url('./img/birthdays-bgi.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 0;
}

.footer-link:hover {
  color: white !important;
  transition: .2s;
}

.photo-link:hover {
  background: rgba($primary, 1) !important;
  transition: .2s;
}

@media (min-width: 576px) {
    .match-carousel-item:first-child {
      margin-left: 12.5%;
    }
    .match-carousel-item:last-child {
      margin-right: 12.5%;
    }

    #main-photos {
      padding-bottom: 100px;
    }

    body {
      background-position: -5% 160vh;
      background-size: 55%;
    }
}

@media (min-width: 992px) {
    #header-logo {
    transform: scale(1.65);
    position: relative;
    top: 2rem;
  }

  #main-matches {
    padding-top: 100px;
    padding-bottom: 125px;
  }

  #main-birthdays {
    padding-bottom: 317px;
    background-position: right bottom;
    background-size: 50%;
  }
}
