<div class="container min-vh-100 d-flex">
	<form class="m-auto col-sm-11 col-md-6 col-lg-3" action="/admin" method="POST">
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Логин</label>
			<input
				type="text"
				class="form-control"
				id="exampleInputEmail1"
				aria-describedby="emailHelp"
				name="login"
			/>
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Пароль</label>
			<input
				type="password"
				class="form-control"
				id="exampleInputPassword1"
				name="pass"
			/>
		</div>
		<button type="submit" class="btn btn-primary">OK</button>
	</form>
</div>